/* Header */
.Header {
    background-image: linear-gradient(270deg, #213580 45%, #194c9f 100%);
}
.Header .container-md {
    position: relative;
}
.navbar {
    height: 88.5px;
}
.navbar-brand {
    width: 190px;
}
.navbar-toggler {
    padding: 0;
    color: #fff;
    border: none;
}
.nav-item {
    margin: auto 5px;
}
.nav-link {
    color: #fff;
    font-family: "Roboto Slab", serif;
    font-weight: 500;
}
.nav-link:focus {
    color: #fff;
}
.nav-link:hover {
    color: #ffffffcc;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.get_in button {
    color: #fff;
    background-color: #ce6c33;
    height: 36px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0;
    font-weight: 400;
    margin: 0;
}

.get_in button:hover {
    border: 1px solid #ce6c33;
}
.offcanvas-body,
.offcanvas-header {
    background-color: #f7f7f7;
}
.offcanvas-body h1 {
    color: #519a53;
    font-size: 48px;
    font-weight: 600;
    line-height: 1;
    font-family: "Exo 2";
}
.offcanvas-body h2 {
    font-weight: 600;
    line-height: 1;
    color: #000;
    font-size: 28px;
    margin-bottom: 20px;
    font-family: "Exo 2";
}
.offcanvas-body h3 {
    font-weight: 300;
    line-height: 1;
    color: #43434a;
    font-size: 25px;
    margin-bottom: 10px;
    font-family: "Exo 2";
}

@media screen and (min-width: 768px) {
    .navbar {
        height: 100px;
    }
    .get_in {
        position: absolute;
        right: 70px;
        width: 132px;
        top: 50%;
        transform: translateY(-50%);
    }
    .get_in span {
        display: none;
    }
    .navbar-nav {
        margin-right: 150px;
    }
    .get_in button {
        font-weight: 500;
    }
}
@media screen and (min-width: 992px) {
    .nav-item {
        background-image: none;
    }
    .get_in {
        right: 0;
    }
    .nav-item {
        width: auto;
    }
}
