* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto", sans-serif;
}
h1,
h2,
h3,
h4,
h5 {
    font-family: "Roboto Slab", serif;
}
html {
    overflow-x: hidden;
}
a {
    color: unset;
    text-decoration: none;
}
body {
    margin-top: 100px;
    overflow-x: hidden;
    background-image: linear-gradient(270deg, #213580 45%, #194c9f 100%);
}
::selection {
    background-color: #519a53;
}

@media (min-width: 1400px) {
    .container,
    .container-lg,
    .container-md,
    .container-sm,
    .container-xl,
    .container-xxl {
        max-width: 1200px;
    }
}
/*  
   font-family: 'Exo 2', sans-serif;

    font-family: 'Roboto', sans-serif;

    font-family: 'Roboto Slab', serif;
    
    */
